LDAP_HOST=<host>
LDAP_PORT=<port>

LDAP_BASE_DN=<dn>

LDAP_USERNAME=<username>
LDAP_PASSWORD=<password>
LDAP_USER_OU=<user_ou>
LDAP_GROUP_OU=<group_ou>

LDAP_USE_SSL=<True or False>

LOG_DIR=<dir>
LOG_LEVEL=<level>
LOG_ROTATION=<rotation>

LDAP_AUTH_TOKEN=<token>
